<% unless comment.archived? %>

<div class="text-2xl flex flex-col py-4 relative">
  <div class="flex justify-between items-center w-full">
    <p class="text-3xl font-bold">
      <%= comment.user.email.split("@").first.capitalize %>
    </p>
    <div class="relative">
      <button type="button" onclick="this.nextElementSibling.classList.toggle('hidden')" class="p-2 rounded-full cursor-pointer dark:hover:bg-white text-white dark:hover:text-black focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><circle cx="5" cy="12" r="1.5"/><circle cx="12" cy="12" r="1.5"/><circle cx="19" cy="12" r="1.5"/></svg>
      </button>
      <div class="absolute right-0 mt-2 bg-white border rounded shadow-lg hidden z-10">
        <%= button_to "Destroy Comment",
          [ comment.article, comment ],
          method: :delete,
          data: { turbo_confirm: "Are you sure?" },
          class: "px-20 py-4 text-sm rounded-3xl cursor-pointer text-black bg-white" %>
      </div>
    </div>
  </div>
  <p>
    <%= comment.body %>
  </p>
</div>
<% end %>