<div class="py-2">
  <% like = current_user.likes.find_by(post: post) %>
<% if like.nil? %>
  <%= button_to "Like", likes_path, method: :post, params: { like: { post_id: post.id } }, class: "primary_button" %>
<% else %>
  <%= button_to "Unlike", like_path(like), method: :delete, class: "primary_button-unlike" %>
<% end %>

</div>