<div class="bg-white text-black h-full pb-10 dark:bg-black dark:text-white">
  <h1 class="text-5xl font-bold text-center py-10">
  <%= @post.title %>
</h1>

  <div class="flex justify-center items-center w-full mx-auto max-w-6xl mt-6">
  <% if @post.image.attached? %>
    <%= image_tag @post.image, 
        loading: "lazy", 
        class: "rounded-xl p-3 sm:p-0 object-cover" %>
    <% end %>
  </div>
    
<div class="text-center flex justify-center my-6">
 <%= link_to "Back to Posts", posts_path, 
          class: "primary_button" %>
</div>


</div>