.articles-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.articles-title {
  font-size: 3rem;
  font-weight: 800;
  color: #ef4444;
  letter-spacing: -0.025em;
}

.articles-subtitle {
  font-size: 1.125rem;
  font-family: "IBM Plex Sans", sans-serif;
}
