/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}
.button {
  padding: 1rem 4rem;
  text-align: center;
  border-radius: 0.375rem;
  display: inline-block;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}
